button(mat-raised-button, color='primary', (click)='addMoreCar()') Show More Car
mat-card(*ngFor='let car of cars')
  h1 {{car.title}}
  p {{car.description}}
  button(mat-raised-button='', color='primary', routerLink='/car-details/{{car.id}}') Details
  button(mat-raised-button='', color='warn', (click)='deleteCar(car.id, car.title)') Delete
  button(mat-raised-button='', color='accent', routerLink='/car-update/{{car.id}}') Update
